.app-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #333;
  color: white;
  text-align: left;
  vertical-align: center;
  padding: 1rem;
  height: 25vh;
}

.title,
.subtitle {
  margin: 0;
  margin-left: 3rem;
}

.title {
  font-size: 5rem;
  margin-bottom: 1.5rem;
}

.subtitle {
  font-size: 2rem;
}

.content {
  height: 75vh;
}

.heart {
  display: inline-block;
  animation-name: grow;
  animation-duration: 1.5s;
}

@keyframes grow {
  from {
    transform: scale(1);
  }

  50% {
    transform: scale(2);
  }

  to {
    transform: scale(1);
  }
}
