.article {
  display: flex;
  background-color: #fff;
  border-top: 1px #ccc solid;
  border-bottom: 1px #ccc solid;
  font-size: 13pt;
  color: #333;
  padding: 2rem;
  margin: 0 2rem;
}

.author {
  color: #999;
}

.article > :nth-child(1) {
  flex: 1 1 70%;
  margin: 1rem 0;
}

.article > :nth-child(2) {
  flex: 1 1 20%;
  text-align: center;
}

.article > :nth-child(3) {
  flex: 1 1 10%;
}

.article h1 {
  display: inline;
  font: inherit;
  margin-block-start: 0;
  margin-block-end: 0;
}

.article:hover {
  background-color: #fafafa;
}
