.icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-icon {
  cursor: pointer;
  width: 1.3rem;
  height: 1.3rem;
  color: black;
  z-index: 1;
  transition-property: color;
  transition-duration: 0.25s;
  transition-timing-function: ease-in;
}

.hidden {
  color: #fff;
}
